<!DOCTYPE html>
<html lang="Es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mercado liebre</title>
</head>
<body>
    <header>
       
        <img alt="logo mercado liebre"  src="/images/logo-mercado-liebre.svg" width="968">
        <h2>Lugar para poner la barra de búsqueda</h2>
        <h2>Comprá en cuotas y sin tarjeta de crédito</h2>
   
        <nav>
            <ul>
                <li ><a href="/oferta">Ofertas</a></li>
                <li><a href="/TiendasOficiales">Tiendas Oficiales</a></li>
                <li><a href="/Vender">Vender</a></li>
                <li><a href="/Ayuda">Ayuda</a></li>
            </ul>
            <ul>
                <li ><a href="/CreáTuCuenta">Creá tu cuenta</a></li>
                <li><a href="/ngresá">ngresá</a></li>
                <li><a href="/MisCompras">Mis compras</a></li>
             </ul>
        </nav>


    </header>
    <main>
        <img alt="baner" src="/images/img-home-banner.jpg">
        <section>
            <h2><b> Basado en tu última visita</b></h2>
            <article>
                <img alt="cafetera Moulinex" src="/images/img-cafetera-moulinex.jpg">
                <p>$6.770</p>
                <p>40% OFF</p>
                <h3><b>Cafetera Moulinex</b></h3>
             </article>
             <article>
                <img alt="MacBook pro 2019" src="/images/img-macbook-pro-2019.jpg">
                <p>$230.000</p>
                <p>20% OFF</p>
                <h3><b>MacBook Pro 2019</b></h3>
             </article>
             <article>
                <img alt="img-samsung-galaxy-s10src="  src="/images/img-samsung-galaxy-s10.jpg">
                <p>$70.500</p>
                <p>10% OFF</p>

                <h3><b>Samsung Galaxy S10</b></h3>
             </article>
             <article>
                <img alt="SmartTv Samsung 43" src="/images/img-tv-samsung-smart.jpg">
                <p>$23.200</p>
                <p>5% OFF</p>
                <h3><b>SmartTv Samsung 43"</b></h3>
             </article>

        </section>
        <section>
            <h2><b> Sección de Ofertas</b></h2>
            <article>
                <img alt="cafetera Moulinex" src="/images/img-cafetera-moulinex.jpg">
                <p>$6.770</p>
                <p>40% OFF</p>
                <h3><b>Cafetera Moulinex</b></h3>
             </article>
             <article>
                <img alt="MacBook pro 2019" src="/images/img-macbook-pro-2019.jpg">
                <p>$230.000</p>
                <p>20% OFF</p>
                <h3><b>MacBook Pro 2019</b></h3>
             </article>
             <article>
                <img alt="Samsung Galaxy S10" src="/images/img-samsung-galaxy-s10.jpg">
                <p>$70.500</p>
                <p>10% OFF</p>
                <h3><b>Samsung Galaxy S10</b></h3>
             </article>
             <article>
                <img alt="SmartTv Samsung 43" src="/images/img-tv-samsung-smart.jpg">
                <p>$23.200</p>
                <p>5% OFF</p>
                <h3><b>SmartTv Samsung 43"</b></h3>
             </article>

        </section>


    
    </main>

    <footer>
        <section>
            <h4><b>Pagá con tarjeta o en efectivo</b></h4>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>
        </section>
        <section>
            <h4><b>Envío gratis desde $ 2.500</b></h4>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
        </section>
        <section>
            <h4><b>Seguridad, de principio a fin</b></h4>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.<br>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </section>
    </footer>

</body>
</html>