<!DOCTYPE html>
<html lang="Es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mercado liebre</title>
    <link rel="stylesheet" href="css/styles.css">

    <script src="https://kit.fontawesome.com/246b141a4f.js" crossorigin="anonymous"></script>
</head>

<body class="home">
    <header class="home_header">

        <img alt="logo mercado liebre" src="/images/logo-mercado-liebre.svg" width="968">


        <nav>
            <div class="buscar">

                <input type="text" placeholder="Buscar productos, marcas " required>
                <div class="lupa">
                    <i class="fa-solid fa-magnifying-glass" style="color:var(--gris-oscuro)"></i>
                </div>
            </div>
        </nav>

        <h2><i class="fa-solid fa-hand-holding-dollar" style="color: black"></i>Comprá en cuotas y sin tarjeta de
            crédito</h2>

        <nav class="home_header--nav--menu">
            <ul>
                <li><a href="/oferta">Ofertas</a></li>
                <li><a href="/TiendasOficiales">Tiendas Oficiales</a></li>
                <li><a href="/Vender">Vender</a></li>
                <li><a href="/Ayuda">Ayuda</a></li>
            </ul>
            <ul class="ul_registro">
                <li><a href="/CreáTuCuenta"> Creá tu cuenta <i class="fa-regular fa-address-card" style="color: black">
                        </i> </a></li>
                <li><a href="/ngresá"> Ingresá <i class="fa-solid fa-right-to-bracket" style="color: black"></i></a>
                </li>
                <li><a href="/MisCompras"> Mis compras <i class="fa-solid fa-basket-shopping"
                            style="color: black"></i></a></li>

            </ul>

        </nav>
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>

    </header>
    <main>
        <img class="home__img--banner" alt="baner" src="/images/img-home-banner.jpg">
        <section>
            <h2 class="titulo--h2"><b> Basado en tu última visita</b></h2>

            <article>
                <img alt="cafetera Moulinex" src="/images/img-cafetera-moulinex.jpg">
                <i class="fa-solid fa-truck"></i>
                <article>
                    <div class="main__section_article_article_div">
                    <p>$230.000</p>
                    <p class="p">20% off</p>
                </div>
                    <h3><b>MacBook Pro 2019</b></h3>
                </article>
            </article>
            <article >
                <img alt="MacBook pro 2019" src="/images/img-macbook-pro-2019.jpg">
                
                <i class="fa-solid fa-truck"></i>
                
                <article>
                    <div class="main__section_article_article_div">
                    <p>$230.000</p>
                    <p class="p">20% off</p>
                </div>
                    <h3><b>MacBook Pro 2019</b></h3>
                </article>
            </article>

            <article >
                <img alt="img-samsung-galaxy-s10src=" src="/images/img-samsung-galaxy-s10.jpg">
                <i class="fa-solid fa-truck"></i> 
                
            <article>   
                <div class="main__section_article_article_div">        
                    <p>$70.500</p>
                    <p class="p">10% OFF</p>
                    </div>
                    <h3><b>Samsung Galaxy S10</b></h3>
                </article>
            </article>
            <article >
                <img alt="SmartTv Samsung 43" src="/images/img-tv-samsung-smart.jpg">
                <i class="fa-solid fa-truck"></i>

                <article>
                    
                    <div class="main__section_article_article_div">
                    <p>$23.200</p>
                    <p class="p">5% OFF</p>
                    </div>
                    <h3><b>SmartTv Samsung 43"</b></h3>
                </article>
            </article>


        </section>
        <section >
            
            <h2 class="titulo--h2"><b > Sección de Ofertas</b></h2>
       
            <article >
                <img alt="cafetera Moulinex" src="/images/img-cafetera-moulinex.jpg">

                
                <i class="fa-solid fa-truck"></i>
                <article>
                    <div class="main__section_article_article_div">
                    <p>$6.770</p>
                    <p class="p">40% OFF</p>
                    </div>
                    <h3><b>Cafetera Moulinex</b></h3>
                </article>
            </article>

            <article >
                <img alt="MacBook pro 2019" src="/images/img-macbook-pro-2019.jpg">

                <i class="fa-solid fa-truck"></i>

                <article>
                    <div class="main__section_article_article_div">
                    <p>$230.000</p>
                    <p class="p">20% OFF</p>
                    </div>
                    <h3><b>MacBook Pro 2019</b></h3>
                </article>
            </article>
            <article >
                <img alt="Samsung Galaxy S10" src="/images/img-samsung-galaxy-s10.jpg">

                <i class="fa-solid fa-truck"></i>

                <article>
                    <div class="main__section_article_article_div">
                    <p>$70.500</p><p class="p">10% OFF</p>
                    </div>
                    <h3><b>Samsung Galaxy S10</b></h3>
                </article>
            </article>
            <article >
                <img alt="SmartTv Samsung 43" src="/images/img-tv-samsung-smart.jpg">
                <i class="fa-solid fa-truck"></i>
                
                
                <article>
                    <div class="main__section_article_article_div">
                    <p>$23.200</p>
                    <p class="p">5% OFF</p>
                    </div>
                    <h3><b>SmartTv Samsung 43"</b></h3>
                </article>
            </article>

        </section>



    </main>









    <footer>
        <section>
            <i class="fa-solid fa-credit-card fa-2xl"></i>
            <h4><b>Pagá con tarjeta o en efectivo</b></h4>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>
        </section>
        <section>
            <i class="fa-solid fa-gift fa-2xl"></i>
            <h4><b>Envío gratis desde $ 2.500</b></h4>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
        </section>

        <section>
            <i class="fa-solid fa-user-shield fa-2xl"></i>
            <h4> <b> Seguridad de principio a fin</b></h4>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
            <p class="copi">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </section>
    </footer>

</body>

</html>