*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --Amarillo: #EAC926;
    --Azul: #03264C;
    --Celeste: #1259c3;
    --gris-oscuro: #666;
    --gris-claro: #ebebeb;
    --Verde: #39b54a;
     
    --cuerpo-texto:12px;
    --Titulares: 24px;
    --Precios: 18px;
    --Descuentos: 16px;
    --Descripciones: 16px;
}
